.img1 {
    padding-top: 30px;
    height: 560px;
    object-fit: cover;

    /* background-clip: padding-box; */
}

.h4 {
    padding-top: 30px;
    padding-bottom: 0;
}

.h11 {
    padding-top: 10px;
    line-height: 65px;
    padding-bottom: 30px;
    color: #4CAF50;
}

.p1 {
    padding-bottom: 30px;
}

.btn1 {
    background-color: #D04820;
    /* Green */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 11px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
}

.btn1:hover {
    background-color: #4CAF50;
}

.cont1 {
    margin-bottom: 50px;
}

.cardcent i {
    display: flex;
    justify-content: center;
}

/* second row of webSoftera */
.row2 {
    background-color: #EEEEEE;
}

.h2 {
    text-align: center;
}

.h2 span {
    color: #D04820;
    font-family: "Playfair Display", Sans-serif;
    font-weight: 700;
    font-style: italic;
}
.h21{
    text-align: center;
    padding-bottom: 15px;
}
.h21 span {
    color: #4FB03C;
    font-family: "Playfair Display", Sans-serif;
    font-weight: 700;
    font-style: italic;
}


.h2 span:hover {
    color: black;
}

.p2 {
    /* margin: 0 340px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 25px;
    text-align: center;
}

.btn2 {
    background-color: #ffffff;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    color: #4CAF50;
    padding: 9px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

.btn2:hover {
    color: #ffffff;
    background-color: #4CAF50;
}

.comp1 {
    padding: 20px;
    background-color: #4CAF50;
    border: 1px solid black;
    border-radius: 100%;
    margin: 15px 190px 0 150px;
}

.comp2 {
    padding: 20px;
    background-color: #D04820;
    border: 1px solid black;
    border-radius: 100%;
    margin: 15px 190px 0 150px;
}

.comp3 {
    padding: 20px;
    background-color: #4CAF50;
    border: 1px solid black;
    border-radius: 100%;
    margin: 15px 189px 0 150px;
}

/* third row of websoftera */
.disp {
    padding-top: 60px;
    height: 100%;
}

.disp p {
    margin-bottom: 50px;
    line-height: 30px;
}

.disp i {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.img2 {
    object-fit: contain;
}

.h2 {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 15px;
}

.icocent {
    background-color: #fff;
    border: 1px solid rgb(156, 156, 156);
    border-radius: 100px;
    height: 200px;
    padding: 50px;
}

.icocent i {
    display: flex;
    /* height: 100px; */
    padding-top: 20px;
    justify-content: center;
    align-items: center;
}

/* the below code is for the search box */
.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search {
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #DC3545;
    padding-right: 40px;
    color: #fff;
}

.input-search::placeholder {
    color: rgba(255, 255, 255, .5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}

.btn-search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: #ffffff;
    background-color: transparent;
    pointer-events: painted;
}

.btn-search:focus~.input-search {
    width: 300px;
    border-radius: 0px;
    /* background-color: transparent; */
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus {
    width: 300px;
    border-radius: 0px;
    /* background-color: transparent; */
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

/* testimonials */
.home-testimonial {
    background-color: #231834;
    height: 380px
}

.home-testimonial-bottom {
    background-color: #f8f8f8;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 20px;
    margin-bottom: 0px;
    position: relative;
    height: 130px;
    top: 190px
}

.home-testimonial h3 {
    color: var(--orange);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase
}

.home-testimonial h2 {
    color: white;
    font-size: 28px;
    font-weight: 700
}

.testimonial-inner {
    position: relative;
    top: -174px
}

.testimonial-pos {
    position: relative;
    top: 24px
}

.testimonial-inner .tour-desc {
    border-radius: 5px;
    padding: 40px
}

.color-grey-3 {
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    color: #6c83a2
}

.testimonial-inner img.tm-people {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    max-width: none
}

.link-name {
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    color: #6c83a2
}

.link-position {
    font-family: "Montserrat", Sans-serif;
    font-size: 12px;
    color: #6c83a2
}

/* counter */
.container {
    margin-top: 100px;
}

.counter-box {
    display: block;
    background: #f6f6f6;
    padding: 40px 20px 37px;
    text-align: center
}

.counter-box p {
    margin: 5px 0 0;
    padding: 0;
    color: #909090;
    font-size: 18px;
    font-weight: 500
}

.counter-box i {
    font-size: 60px;
    margin: 0 0 15px;
    /* color: #d2d2d2 */
}

.counter {
    display: block;
    font-size: 32px;
    font-weight: 700;
    color: #666;
    line-height: 28px
}

/* footer */
footer {
    background-color: #374A5E;
    padding: 30px 30px;
}

.mail {
    border: none;
    border-radius: 20px 0 0 20px;
    padding: 10px;
    width: 80%;
    margin-top: 25px;
}

.but {
    margin-top: 25px;
    padding: 10px;
    border: none;
    ;
    background-color: #4CAF50;
    border-radius: 0 20px 20px 0;
    color: white;
}

/* last in home */
.last {
    background-color: #D04820;
    padding: 40px 20px;
    text-align: center;
    width: 100%;

}

/* responsive page for mobile view */
@media (max-width:400px) {
    .h11 {
        line-height: 43px;
        padding-bottom: 6px;
    }

    .p1 {
        text-align: justify;
    }

    .comp1 {
        margin: 15px 140px 0 130px;
    }

    .comp2 {
        margin: 15px 140px 0 130px;
    }

    .comp3 {
        margin: 15px 140px 0 130px;
    }

    .disp h3 {
        text-align: center;
    }

    .icocent {
        padding: 0px;
        border-radius: 55px;
    }

    .icocent h4 {
        text-align: center;
    }

    .img1 {
        width: 350px;
    }

    .img2 {
        width: 350px;
    }

}